* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
 /* Mobile First (col-*) */
.col-4 {width: 33.33%;}
.col-12 {width: 100%;}
/* Desktop 901px */
@media screen and (min-width: 901px) {
  .col-lg-4 {width: 33.33%;}
  .col-lg-12 {width: 100%;}
  .menu {
    display: none;
}
}
/* body */

/* header */

nav {
    background-color: black;
 }
.menu {
    color: white;
    display: flex;
    justify-content: flex-end;
}
.menu a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
/* main */

/* footer */